<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gabinet stomatologiczny</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg" style="background-color: #ffbf80">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color: black">Gabinet stomatologiczny</a>
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="waves-effect waves-light btn nav-link" href="/about" style="color: black;background-color:  #ffa64d">O mnie</a>
                </li>
                <li class="nav-item">
                    <a class="waves-effect waves-light btn nav-link" href="/pricelist" style="color: black;background-color:  #ffa64d">Cennik</a>
                </li>
                <li class="nav-item">
                    <a class="waves-effect waves-light btn nav-link" href="/contact" style="color: black;background-color:  #ffa64d">Kontakt</a>
                </li>
                <form action="https://www.znanylekarz.pl/szukaj?q=stomatolog&loc=Bydgoszcz&filters%5Bspecializations%5D%5B%5D=103">
                    <input class="waves-effect waves-light btn nav-link" type="submit" value="Umów wizytę" style="background-color:  #ff8000"/>
                </form>
            </ul>
        </div>
    </div>
</nav>
<!-- About Me Section-->
<div style="text-align: center">
    <img alt="" src="/css/hands.jpg" style="width: 900px; height: 400px">
</div>
<div style="display: inline">
    <h4>O mnie</h4>
    <hr/>
    Od 2000 roku świadczę najwyższej jakości usługi z zakresu stomatologii. Moja praca opiera się na wieloletnim doświadczeniu przy wykorzystaniu nowoczesnej technologii.
    Najważniejszy dla mnie jest pacjent, dlatego nieustannie kształcę się dzięki licznym kursom. Zachęcam do zapoznania się z ofertą.
</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Linki</h6>
                    <p>
                        <a href="/login" class="text-reset" style="color: black">Strefa pracownika </a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0  text-left">

                    <h6 class="text-uppercase fw-bold mb-4">Kontakt</h6>
                    <p><i class="fas fa-home me-3"></i> ul. Kaliskiego</p>
                    <p><i class="fas fa-home me-3"></i> 85-123 Bydgoszcz</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        E-mail: dentist@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i>Tel: +48 123 456 789</p>
                </div>
            </div>
        </div>
    </section>

</footer>
</body>
</html>