<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel stomatologa - Magazyn</title>
    <link th:href="@{static}" rel="stylesheet">
    <style>
        * {
            box-sizing: border-box;
        }

        .row {
            display: flex;
        }

        .column {
            flex: 50%;
            padding: 10px;
            height: 60px;
        }
    </style>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg" style="background-color: #987a9f">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dentist" style="color: black">Panel stomatologa - Magazyn</a>
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="waves-effect waves-light btn nav-link" href="/ordersDent1" style="color: black;background-color: #8c6b94">Zlecenia dla technika</a>
                </li>
                <li class="nav-item">
                    <a class="waves-effect waves-light btn nav-link" href="/store" style="color: black;background-color: #8c6b94">Magazyn</a>
                </li>
                <li class="nav-item">
                    <a class="waves-effect waves-light btn nav-link" href="/logout" style="color: black;background-color: #8c6b94">Wyloguj się</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--New Product & Search Panel-->
<p></p>
<div class="row">
    <form method="GET" th:action="@{/newStore}">
        <button type="submit" class="btn" style="background-color:  #8981b1">Nowy produkt</button>
    </form>
</div>
<div class="row form-inline justify-content-center">
    <form method="GET" th:action="@{store}">
        <input type="text" id="txtSearch" class="form-control" name="parameter" placeholder="Szukaj produktu...">
        <button type="submit" class="btn" style="background-color:  #8981b1">Szukaj</button>
    </form>
</div>
<p></p>
<!-- Store List -->
<nav class="nav flex-column" style="background-color: #bdcbdb">
    <!--<h2 style="color: black">Rezerwacje</h2>-->
    <table border="1">
        <tr>
            <th style="color: black; background-color: #82b6c9">Nazwa produktu</th>
            <th style="color: black; background-color: #82b6c9">Ilość sztuk</th>
            <th style="color: black; background-color: #82b6c9">Moderator</th>
        </tr>
        <tr th:each = "Store: ${store}">
            <td th:text="${Store.StoreType}" style="color: black"/>
            <td th:text="${Store.Quantity}" style="color: black"/>
            <td th:text="${Store.getUsername}" style="color: black"/>
        </tr>
    </table>
</nav>
<!--Pagination-->
<p></p>
<nav aria-label="Page navigation example" id="pageNo">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" style="background-color: #987a9f; color: black" href="/store1">1</a></li>
        <li class="page-item"><a class="page-link" style="background-color: #987a9f; color: black" href="/store2">2</a></li>
        <li class="page-item"><a class="page-link" style="background-color: #987a9f; color: black" href="/store3">3</a></li>
        <li class="page-item"><a class="page-link" style="background-color: #987a9f; color: black" href="/store4">4</a></li>
        <li class="page-item"><a class="page-link" style="background-color: #987a9f; color: black" href="/store5">5</a></li>
    </ul>
</nav>
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Linki</h6>
                    <p>
                        <a href="/" class="text-reset" style="color: black">Strefa pacjenta </a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-left">

                    <h6 class="text-uppercase fw-bold mb-4">Kontakt</h6>
                    <p><i class="fas fa-home me-3"></i> ul. Kaliskiego</p>
                    <p><i class="fas fa-home me-3"></i> 85-123 Bydgoszcz</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        E-mail: dentist@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i>Tel: +48 123 456 789</p>
                </div>
            </div>
        </div>
    </section>
</footer>
</body>
</html>